<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.undead.nosavvy.lab4">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity android:name=".Buttons">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Horizontalscroll" />
        <activity android:name=".Customized_buttons" />
        <activity android:name=".ImageButtonActivity" />
        <activity android:name=".EditTextActivity" />
        <activity android:name=".CheckBoxActivity" />
        <activity android:name=".RadioButtonActivity" />
        <activity android:name=".SwitchButtonActivity" />
        <activity android:name=".ToogleButtonActivity" />
        <activity android:name=".RatingBarActivity" />
        <activity android:name=".SpinnerActivity" />
        <activity android:name=".ProgressBarActivity" />
        <activity android:name=".DatePickerActivity" />
        <activity android:name=".Geolocalizacion" />
        <activity android:name=".TimePickerActivity" />
        <activity android:name=".FloatingActionButtonActivity" />
        <activity android:name=".FloatingLabelsActivity" />
        <activity android:name=".SeekBarActivity"></activity>
    </application>

</manifest>